<a href="https://colab.research.google.com/github/msaadsadiq/BigDataCourse/blob/master/Assignment_1_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ECE 795 - Big Data
## Assignment #1 - Querying Google Cloud BigQuery using SQL

### Before you begin


1.   Create your own project using using the [Cloud Resource Manager](https://console.cloud.google.com/cloud-resource-manager) if you do not already have one.
2.   [Enable billing](https://support.google.com/cloud/answer/6293499#enable-billing) for the project.
3.   [Enable BigQuery](https://console.cloud.google.com/flows/enableapi?apiid=bigquery) APIs for the project. (should be already enabled)

### Provide your credentials to the runtime

In [3]:
# Authenticate your student profile

from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

## There are several ways to access your BigQuery tables 
1. Magics library
2. Google-cloud-bigquery
3. Pandas dataframe

In [7]:
# 1. Magics library method

%%bigquery --project ece795 df_lib
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`


# This command runs a query and displays the result, optionally saving it to a variable as a `DataFrame`.

   total_rows
0   114420316

In [9]:
# 2. google-cloud-bigQuery method

from google.cloud import bigquery

client = bigquery.Client(project='ece795')

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.samples.gsod`''').to_dataframe().total[0]

df_gc = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 114420316 rows

### Describe the data using magic lib

In [8]:
# Magic lib method
df_lib.describe()

        total_rows
count          1.0
mean   114420316.0
std            NaN
min    114420316.0
25%    114420316.0
50%    114420316.0
75%    114420316.0
max    114420316.0

### Describe the data using GCloud method

In [10]:
# G-Cloud method
df_gc.describe()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,num_mean_station_pressure_samples,mean_visibility,num_mean_visibility_samples,mean_wind_speed,num_mean_wind_speed_samples,max_sustained_wind_speed,max_gust_wind_speed,max_temperature,total_precipitation,snow_depth
count,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,1959.000000,1959.000000,1563.000000,...,758.000000,1829.000000,1829.000000,2023.000000,2023.000000,1989.000000,259.000000,2051.000000,1882.000000,124.000000
mean,521842.764993,89722.036568,1987.115553,6.543150,15.751341,51.841004,12.912725,41.008678,12.862175,1015.003903,...,12.197889,12.400929,12.669765,6.782996,12.827484,12.093565,24.633977,43.108971,0.068358,11.131452
std,294118.654142,26984.074703,16.226380,3.435605,8.792158,24.971396,7.954486,23.599055,7.919694,9.416330,...,7.918034,10.080911,7.918642,4.961915,7.917127,6.595313,8.741605,25.106837,0.251118,14.864867
min,10150.000000,73.000000,1930.000000,1.000000,1.000000,-52.799999,4.000000,-56.299999,4.000000,953.500000,...,4.000000,0.000000,4.000000,0.000000,4.000000,1.000000,6.000000,-60.000000,0.000000,0.400000
25%,274025.000000,99999.000000,1977.000000,4.000000,8.000000,37.549999,7.000000,28.200001,7.000000,1009.900024,...,6.000000,6.300000,6.000000,3.500000,7.000000,7.800000,18.100000,30.200001,0.000000,2.000000
50%,571060.000000,99999.000000,1989.000000,7.000000,16.000000,56.000000,8.000000,43.700001,8.000000,1014.599976,...,8.000000,9.800000,8.000000,5.800000,8.000000,11.100000,22.900000,46.400002,0.000000,6.100000
75%,725482.500000,99999.000000,2000.500000,9.000000,23.000000,70.800003,24.000000,58.150000,23.000000,1020.099976,...,23.000000,14.900000,23.000000,8.900000,23.000000,15.500000,29.500000,61.700001,0.010000,16.600000
max,999999.000000,99999.000000,2010.000000,12.000000,31.000000,102.199997,24.000000,79.699997,24.000000,1049.599976,...,24.000000,99.400002,24.000000,46.599998,24.000000,54.400002,66.000000,96.800003,2.950000,97.599998

## Sample Queries

### View the first 10 rows

In [0]:
# top 10 rows
df.head(10)

In [0]:
# 10 highest total_precipitation samples
df.sort_values('total_precipitation', ascending=False).head(10)[['station_number', 'year', 'month', 'day', 'total_precipitation']]